<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.test.mapper.CreateApplicationMapper">
    <resultMap id="createApplication" type="CreateApplication">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="teacherId" property="teacherId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="reason" property="reason" jdbcType="VARCHAR"/>
        <result column="createDate" property="createDate" jdbcType="DATE"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="finishDate" property="finishDate" jdbcType="DATE"/>
    </resultMap>

    <resultMap id="listResultForAdmin" type="cn.org.test.pojo.CreateApplicationAdmin">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_name" property="teacher" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="reason" property="reason" jdbcType="VARCHAR"/>
        <result column="createDate" property="createDate" jdbcType="DATE"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="finishDate" property="finishDate" jdbcType="DATE"/>
    </resultMap>

    <!--    insert 后返回操作的主键-->
    <insert id="addCreateApplication" parameterType="cn.org.test.pojo.CreateApplication" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT into createApplication(teacherId,name,reason,status,createDate) values(#{newApplication.teacherId}, #{newApplication.name}, #{newApplication.reason},#{newApplication.status},#{newApplication.createDate})
    </insert>


    <select id="getListById" parameterType="java.util.Map" resultMap="createApplication">
        SELECT * from createApplication WHERE teacherId = #{teacherId}
    </select>

    <select id="getAllList" parameterType="java.util.Map" resultMap="listResultForAdmin">
        SELECT t1.id id,user_name,name,reason,createDate,status,finishDate from SC2.createApplication t1
        left join SC2.USER t2 on t2.id = t1.teacherId
        order by createDate desc;
    </select>

    <update id="updateStatus" parameterType="java.util.Map" >
        update createApplication
        <set>
            <if test="status != null">status=#{status},</if>
            <if test="finishDate != null">finishDate=#{finishDate}</if>
        </set>
        where id=#{id}
    </update>
    <select id="getAlcById" parameterType="java.util.Map" resultMap="createApplication">
        SELECT * from createApplication WHERE id = #{id}
    </select>
</mapper>
